<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="POST">
        <label class="form-label" for="login-email">Email</label>
        <input class="form-control" id="login-email" type="text" name="login-email" placeholder="admin@example.com" aria-describedby="login-email" autofocus="" tabindex="1" />
            <br/>
            <label for="login-password">Password</label>
            <input class="form-control form-control-merge" id="login-password" type="password" name="login-password" placeholder="············" aria-describedby="login-password" tabindex="2" />
            <br/>
    <button class="btn btn-primary btn-block" tabindex="4">Log In</button>
</form>
<a href="/signup">Sign Up</a>
</body>
</html>