<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup" method="POST">
        <label class="form-label" for="signup-email">Email</label>
        <input class="form-control" id="signup-email" type="text" name="signup-email" placeholder="admin@example.com" aria-describedby="signup-email" autofocus="" tabindex="1" />
            <br/>
            <label for="signup-password">Password</label>
            <input class="form-control form-control-merge" id="signup-password" type="password" name="signup-password" placeholder="············" aria-describedby="signup-password" tabindex="2" />
            <br/>
    <button class="btn btn-primary btn-block" tabindex="4">Sign Up</button>
</form>

<a href="/login">Login</a>
</body>
</html>